{% extends "site_base.html" %}

{% block body_class %}Log in{% endblock %}

{% block body %}
	<div class="row blog-container">
		<div class="col-md-3 sidebar">
			{% block sidebar %}
				<h1>
					<a href="#">Log in</a>
				</h1>
			{% endblock %}
			{% if form.errors %}
				<p>Invalid username or password. Please try again</p>
			{% endif %}
			<form action="/blogs/login/" method="post">
				{% csrf_token %}
				<table>
					<tr>
						<td>{{ form.username.label_tag }}</td>
						<td>{{ form.username }}</td>
					</tr>
					<tr>
						<td>{{ form.password.label_tag}}</td>
						<td>{{ form.password }}</td>
					</tr>
				</table>

				<input type="submit" value="Submit" />
			</form>
			New to this site? <a href="/blogs/register/">Register</a>
			</div>
		<div class="col-md-8 blog-content">
			{% block content %}{% endblock %}
		</div>
	</form>
{% endblock %}