{% extends "site_base.html" %}

{% block body_class %}Update Post{% endblock %}

{% block body %}
	<div class="row blog-container">
		<div class="post">
			{% if updated %}
				<strong>Your post is already updated.</strong>
				<a href="/">Return to the homepage.</a><br />
			{% else %}
				{% block sidebar %}
					<h1>
						<a href="#">Update Post</a>
					</h1>
				{% endblock %}
				<form id="post_form" method="POST" action="/blogs/update/post/{{ post.id }}/"
					enctype="multipart/form-data">

						{% csrf_token %}

					{{ post_form.as_p }}
					
					<input type="submit" name="submit" value="Update" />
				</form>
			{% endif %}
		</div>
	<div class="col-md-8 blog-content">
			{% block content %}{% endblock %}
	</div>
{% endblock %}