{% extends "site_base.html" %}

{% block body_class %}blog{% endblock %}


{% block body %}
    <div class="row blog-container">
        <div class="col-md-3 sidebar">
            {% block sidebar %}
                <h1>
                    <a href="#">About the blog</a>
                </h1>
                <p class="lead">
                    {% if user.is_authenticated %}
                    Hello, {{ request.user.get_username }}!<br>
                    Full Name: {{ request.user.get_full_name }} <br>
                    Email: {{ request.user.email }} <br>
                    <a href="/blogs/post/">
                        <button>Add Post</button>
                    </a><br>
                    <a href="/blogs/update/">
                        <button>Update Post</button>
                    </a><br>
                    <a href="/blogs/delete/">
                        <button>Delete Post</button>
                    </a><br>
                    {% endif %}
            {% endblock %}
        </div>
        <div class="col-md-8 blog-content">
            {% block content %}{% endblock %}
        </div>
    </div>
{% endblock %}