{% extends "site_base.html" %}

{% block body_class %}Contact Us{% endblock %}

{% block body %}
	<div class="row blog-container">
		<div class="post">
			{% block sidebar %}
				<h1>
					<a href="#">Contact Us</a>
				</h1>
			{% endblock %}
			{% block page %}
				<form action="/blogs/contact/" method="post">
					{% csrf_token %}
					{{ form.as_p }}
				<input type="submit" value="Submit" />
				</form>
			{% endblock %}
		</div>
		<div class="col-md-8 blog-content">
			{% block content %}{% endblock %}
		</div>
	</div>
	</form>
{% endblock %}