{% extends "site_base.html" %}

{% block body_class %}Add Post{% endblock %}

{% block body %}
	<div class="row blog-container">
		<div class="post">
			{% if posted %}
				<strong>You have successfully posted.</strong>
				<a href="/">Return to the homepage.</a><br />
			{% else %}
				{% block sidebar %}
					<h1>
						<a href="/blogs/post/">Add Post</a>
					</h1>
				{% endblock %}
				<form id="post_form" method="post" action="/blogs/post/"
					enctype="multipart/form-data">

					{% csrf_token %}

					{{ post_form.as_p }}

					<input type="submit" name="submit" value="Post" />
				</form>
			{% endif %}
		</div>
	<div class="col-md-8 blog-content">
			{% block content %}{% endblock %}
	</div>
{% endblock %}