{% extends "site_base.html" %}

{% block body_class %}Register{% endblock %}

{% block body %}
	<div class="row blog-container">
		<div class="col-md-3 sidebar">
			{% if registered %}
				<strong>You have successfully registered!</strong>
				<a href="/">Return to the homepage.</a><br />
			{% else %}
			{% block sidebar %}
				<h1>
					<a href="/blogs/register/">Register</a>
				</h1>
			{% endblock %}
				<form id="user_form" method="post" action=""
					enctype="multipart/form-data">

					{% csrf_token %}

					{{ user_form.as_p }}

					<input type="submit" name="submit" value="Register" />
				</form>
			{% endif %}
		</div>
	<div class="col-md-8 blog-content">
			{% block content %}{% endblock %}
	</div>
{% endblock %}